<%if !session[:name]%>
  <h1>Hi, User!</h1>
<%else%>
  <h1>Hi, <%=session[:name] %>.</h1>
<%end%>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
<%= form_tag({controller: 'sessions', action: 'new', method: 'get'}) do %>
  <input type=submit value='login'>
<%end%>
